#cartCon{
    width: 100%;
    height: 100%;
}

#cart{
	width: 1180px;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
}
.cartNav{
	width: 100%;
    height: 50px;
    background: #eaeaea;
}

.column{
	float:left;
	font-size:14px;
	color:#333;
}

.t_checkbox{
    
    padding: 16px 68px 15px 10px;
 
}

.t_goods{
  
    padding: 16px 482px 16px 20px;
  
}

.t_price{
   

    padding: 16px 10px 16px 90px;
}

.t_num{
    padding: 16px 50px 16px 50px;

}

.t_sum{
   	padding: 16px 10px 16px 92px;
  
}

.t_action{
   
    padding: 16px 53px 16px 53px;
}

.cartlist{
	height:100px;
    border-bottom: 1px solid #f3e2d0;
    background: #fffdfb;
    margin-top:10px;
}
.cartcheck{
	position: relative;
    float: left;
    top: 10px;
    left: 10px;
    font-size:14px;
}

.goodcartItem{
    padding-left: 18px;
    padding-top: 13px;
    position: relative;
   	width: 680px;
   	font-size:14px;
    left: 10px;
}

.goodcartimg{
   float: left;
   position:relative;
}

.goodcartimg>a>img{
	width:70px;
	height:70px;
}

.goodcartmsg{
     padding: 0 130px 44px 119px;
  
}
.cartitem{
	float:left;
	font-size:14px;
}

.goodcartprice{
    width: 86px;
    padding: 10px 0 0 0;
    text-align: center;
}

.goodcartnum{
	 padding: 10px 30px 0 30px;
}

.numcart{
    position: relative;
}

.btnPlus{
   	width: 20px !important;
    padding: 0 !important;
    border: 1px solid #C7C6C6 !important;
    position: absolute;
    top: 0 !important;
    line-height: 18px !important;
    border-radius: 0 !important;
    background: white !important;
    color: black !important;
    left: 40px;
    height:20px;
}
.txtNum{
	width: 40px;
   	border: 1px solid #C7C6C6 !important;
    height: 20px;
    border-radius: 0 !important;
	padding:0px 10px\0 !important;
}
.btnMlus{
    width: 20px !important;
    padding: 0 !important;
    border: 1px solid #C7C6C6 !important;
    position: absolute;
    /* bottom: 0 !important; */
    line-height: 18px !important;
    border-radius: 0 !important;
    background: white !important;
    color: black !important;
    left: -18px;
    height:20px;
}

.goodcartsum{
    width: 130px;
    padding: 10px 0 0 0;
    text-align: right;
}

.goodcartaction{
    padding: 10px 50px 0 60px;
}


.toDes{
	color:#333;
}

.account{
	position:relative;
    margin-top: 10px;
    padding: 25px 10px;
    border: 1px solid #e2e2e2;
}

.accountCon{
	position: absolute;
    top: 0;
    right: 0;
    width: 363px;
    height: 52px;
}

.totalMoney{
    float: left;
    line-height: 52px;
    padding: 0 15px 0 0;
    color: #c40000;
}

.accountFinal{
    height: 100% !important;
    width: 180px !important;
    font-size: 20px !important;
    letter-spacing: 10px !important;
    border: 0 !important;
    border-radius: 0 !important;
    background: #c40000 !important;
    line-height: 35px !important;
    position: absolute !important;
    top: -1px !important;
    right: 0 !important;
}

.delCon{
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0;
    left: 0;
    padding: 0 30px 0 30px;
    line-height: 52px;
    font-size: 14px;
    text-align: center;
}

.checkgoods{
    float: left;
    padding-left: 710px;
    font-size: 12px;
    line-height: 4px;
}

#btnOk{
	position: absolute !important;
    left: 17px !important;
    width: 100px !important;
    border: 1px solid #8a0404 !important;
    background: #c40000 !important;
}

#btnCancel{
	position: absolute !important;
    right: 17px !important;
    width: 100px !important;
    border: 1px solid #8a0404 !important;
    background: #c40000 !important;
}

#btnBar{
    padding: 0px 0px 57px 0px;
}

