<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggg.mapper.OrderGoodsMapper">
	<resultMap type="OrderGoods" id="OrderGoods">
		
		<id property="id" column="ID"/>
		
	</resultMap>
	
	<insert id="addOrderGoods"  parameterType="OrderGoods">
		INSERT INTO T_ORDER_GOODS(ID,ORDERID,GOODSID,GOODSNUM) VALUES(SYS_GUID(),#{orderid},#{goodsid},#{goodsnum})
	</insert>

	<delete id="deleteByOrderId" parameterType="String">
		DELETE FROM T_ORDER_GOODS WHERE ORDERID=#{ORDERID}
	</delete>

</mapper>