<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggg.mapper.ChatMapper">
	<resultMap type="Chat" id="Chat">
		<id property="id" column="CHATID"/>
		<result property="content" column="CONTENT"/>
		<result property="createTime" column="CREATETIME"/>
		<association property="user" javaType="User" >
			<id property="id" column="USERID"/>
			<result property="name" column="USERNAME"/>
			<result property="sex" column="SEX"/>
			<result property="userimg" column="USERIMG"/>
		</association>
	</resultMap>
	<insert id="add" parameterType="Chat">
		<selectKey keyProperty="id" order="BEFORE" resultType="String">
			SELECT SYS_GUID() FROM DUAL
		</selectKey>
		INSERT INTO T_CHAT (ID,CONTENT,USERID,RECEIVERID) VALUES(#{id},#{content},#{user.id},<if test="receiver.id!=null">#{receiver.id}</if><if test="receiver.id==null">null</if>)
	</insert>
	<select id="queryAll" resultMap="Chat" parameterType="String">
		SELECT C.ID AS CHATID,C.CONTENT,TO_CHAR(C.CREATETIME,'YYYY-MM-DD HH24:MI:SS') AS CREATETIME,U.ID AS USERID,U.NAME AS USERNAME,U.SEX,U.USERIMG AS USERIMG 
		FROM T_CHAT C LEFT JOIN T_USER U ON C.USERID = U.ID ${value} ORDER BY CREATETIME
	</select>
</mapper>